*{
    /* background-image: url('background-1.jpeg'); */
    text-transform: capitalize;
   /*  padding: 2px; */
}

#main-div {
    border: 2px solid black;
    display: block;
    overflow: hidden;
}

#row-1 {
    border: 10px solid gold;
    padding: 2px;
    overflow: hidden;
    display: block;
}

#col-r {
    border: 13.9px solid rgb(174, 239, 110);
    float: right;
    align-content: center;
    background-color: rgb(174, 239, 110);
    width: 31%;
    display: block;
    
}

#col-l {
    border: 5.5px solid rgb(54, 120, 243);
    background-color: rgb(54, 120, 243);
    float: left;
    width: 69%;
}

.card {
    border: 2px solid rgb(54, 120, 243);
    background-color:rgb(54, 120, 243);
    display: block;
    padding-top: 9%;
}

#col-s1 {
    border: 2px solid rgb(54, 120, 243);
    float: right;
    padding-right: 38%;
    font-size: 12px;
    font-weight: bold;
    color: rgb(174, 239, 110);
}

#col-s2 {
    border: 2px solid rgb(54, 120, 243);
    float: left;
    padding-left: 20%;
    font-size: 12px;
    font-weight: bold;
    color: rgb(174, 239, 110);
}

/* #bg-pen {
    width: 140%;
    padding: 3px;
} */

h1 {
    color: rgb(173, 237, 109);
    font-weight: 600;
    font-size: 50px;
    padding-top: 20%;
    padding-left: 20%;
    
}

#p-1 {
    color: white;
    font-weight: 600;
    padding-left:20%;
}